.buttonPrimary {
  background-color: #051e61;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  color: rgb(245, 159, 159);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-bottom: 30px;
  transition: all 0.4s;
}

.buttonPrimary:hover {
  background-color: #293553;
}
